<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robinyoung10.lesstime.dao.CzxxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.robinyoung10.lesstime.model.Czxx">
        <result column="sjbh" property="sjbh" />
        <result column="czbh" property="czbh" />
        <result column="czewm" property="czewm" />
        <result column="czzt" property="czzt" />
    </resultMap>

</mapper>
