<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>扫码点餐系统-企业首页</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/layui/layui.js"></script>
    <!--<script src="/js/isQyLogin.js"></script>-->
    <link rel="stylesheet" href="/css/tab-style.css">
    <style type="text/css">
        .table .layui-card-body {
            height: 250px;
            overflow-y: scroll;
        }
        .table .layui-card-body::-webkit-scrollbar {display:none}；
    </style>
</head>
<body class="layui-bg-gray" style="padding:10px">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15" id="content">
    </div>
</div>

<script>
    layui.use(['layer'], function() {
        var layer = layui.layer;

        var sjbh = localStorage.getItem("sjbh");
        var data = {
            sjbh: sjbh
        };

        var alreadyUseTable = new Array();

        var index = layer.load(1);
        $.ajax({
            url: "/handle/table/list",
            type: "get",
            contentType: "application/json;charset=UTF-8",
            data: { sjbh: sjbh, page: 1, limit: 1000},
            dataType: 'json',
            timeout: 20000,
            success: function (response) {
                console.log(response);
                var dataList = response.data;
                for(var i = 0; i < dataList.length; i++) {
                    addTable(dataList[i].czbh, dataList[i].czzt);
                    if(dataList[i].czzt == 1) {
                        alreadyUseTable.push(dataList[i].czbh);
                    }
                }
                console.log(alreadyUseTable);
                if(alreadyUseTable.length == 0) {
                    layer.close(index);
                }
            },
            error: function(response) {
                console.log(response);
            },
            complete: function() {
                for(var i = 0; i < alreadyUseTable.length; i++) {
                    var ddData = {
                        czbh: alreadyUseTable[i],
                        ddzt: 2
                    };
                    $.ajax({
                        url: "/handle/order/company/index",
                        type: "post",
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify(ddData),
                        dataType: 'json',
                        timeout: 20000,
                        success: function (response) {
                            console.log(response);
                            layer.close(index);
                            var cpList = response.cpList;
                            for(var i = cpList.length-1; i >= 0; i--) {
                                console.log(cpList[i]);
                                $("#" + cpList[i].czbh).append("<tr><td>" + cpList[i].cpmc + "</td><td>1份</td></tr>")
                            }
                        }
                    })
                };
                $(".check").on("click", function () {
                    console.log(this.parentNode.childNodes[1].innerText);
                    var czbh = this.parentNode.childNodes[1].innerText;
                    var index1 = layer.load(1);
                    $.ajax({
                        url: "/handle/table/seat",
                        type: "post",
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify({ czbh : czbh }),
                        dataType: "json",
                        timeout: 20000,
                        success: function(response) {
                            console.log(response);
                        },
                        error: function(response) {
                            layer.close(index1);
                            console.log(response);
                        },
                        complete: function () {
                            $.ajax({
                                url: "/handle/order/check",
                                type: "post",
                                contentType: "application/json;charset=UTF-8",
                                data: JSON.stringify({ czbh: czbh }),
                                dataType: "json",
                                timeout: 20000,
                                success: function (response) {
                                    console.log(response);
                                    layer.close(index1);
                                    location.reload();
                                },
                                error: function (response) {
                                    console.log(response);
                                    layer.close(index1);
                                }
                            });
                        }
                    });
                })
            }
        });

        var socket;
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else{
            console.log("您的浏览器支持WebSocket");
            //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
            //等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");
            socket = new WebSocket("ws://114.115.168.26:9000/websocket/" + sjbh);
            //打开事件
            socket.onopen = function() {
                console.log("Socket 已打开");
                //socket.send("这是来自客户端的消息" + location.href + new Date());
            };
            //获得消息事件
            socket.onmessage = function(msg) {
                console.log(msg.data);
                //发现消息进入    开始处理前端触发逻辑
                var order = JSON.parse(msg.data);
                console.log(order);
                var orderCzbh = order[order.length - 1].czbh;
                layer.msg('餐桌' + orderCzbh + '点菜啦！');
                $("#" + orderCzbh + "-czzt").removeClass("layui-bg-blue");
                $("#" + orderCzbh + "-czzt").text("已占座");
                for(var i = order.length-2; i >= 0; i--) {
                    console.log(order[i]);
                    $("#" + orderCzbh).append("<tr><td>" + order[i].cpmc + "</td><td>" + order[i].count + "份</td></tr>");
                }
            };
            //关闭事件
            socket.onclose = function() {
                console.log("Socket已关闭");
            };
            //发生了错误事件
            socket.onerror = function() {
                alert("Socket发生了错误");
                //此时可以尝试刷新页面
            }
            //离开页面时，关闭socket
            //jquery1.8中已经被废弃，3.0中已经移除
            // $(window).unload(function(){
            //     socket.close();
            //});
        }
    });

    //在页面上增加table
    function addTable(czbh, czzt) {
        var table = "<div class=\"layui-col-md3\">\n" +
            "            <div class=\"layui-card table\">\n" +
            "                <div class=\"layui-card-header\">\n" +
            "                    餐桌\n" +
            "                    <span class=\"czbh\">" + czbh + "</span>\n" +
            "                    <span class=\"layui-badge CZZTCLASS\" id='" + czbh + "-czzt'>CZZT</span>\n" +
            "                    <i class=\"layui-icon layui-icon-ok check\" style=\"float:right;cursor:pointer\"> 结账</i>\n" +
            "                </div>\n" +
            "                <div class=\"layui-card-body\">\n" +
            "                    <table class=\"layui-table\" lay-even lay-skin=\"row\">\n" +
            "                        <tbody id='" + czbh + "'></tbody>\n" +
            "                    </table>\n" +
            "                </div>\n" +
            "            </div>\n" +
            "        </div>";
        if(czzt == 0) {
            table = table.replace("CZZTCLASS", "layui-bg-blue");
            table = table.replace("CZZT", "未占座");
        } else if(czzt == 1) {
            table = table.replace("CZZTCLASS", "");
            table = table.replace("CZZT", "已占座");
        }

        $("#content").append(table);
    }
</script>
</body>
</html>