<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>扫码点餐系统-企业端</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/layui/layui.js"></script>
    <!--<script src="/js/isQyLogin.js"></script>-->
    <link rel="stylesheet" href="/css/tab-style.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">扫码点餐系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="javascript:;" class="tablink" id="companyIndex" tabsrc="/company/index">主页</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span id="sjmc">企业</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">回到首页</a></dd>
                    <dd><a href="javascript:;" class="tablink" id="companySetting" tabsrc="/company/setting">设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" id="logout">退出登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">菜品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="tablink" id="foodList" tabsrc="/food/list"><i class="layui-icon layui-icon-form"></i> 菜品列表</a></dd>
                        <dd><a href="javascript:;" class="tablink" id="foodAdd" tabsrc="/food/add"><i class="layui-icon layui-icon-add-circle-fine"></i> 新增菜品</a></dd>
                        <dd><a href="javascript:;" class="tablink" id="catagoryList" tabsrc="/catagory/list"><i class="layui-icon layui-icon-form"></i> 类别列表</a></dd>
                        <dd><a href="javascript:;" class="tablink" id="catagoryAdd" tabsrc="/catagory/add"><i class="layui-icon layui-icon-add-circle-fine"></i> 新增类别</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">餐桌管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="tablink" id="tableList" tabsrc="/table/list"><i class="layui-icon layui-icon-form"></i> 餐桌列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="tablink" id="orderList" tabsrc="/order/list"><i class="layui-icon layui-icon-form"></i> 订单列表</a></dd>
                        <dd><a href="javascript:;" class="tablink" id="orderChart" tabsrc="/order/chart"><i class="layui-icon layui-icon-chart"></i> 图表统计</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">企业管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="tablink" id="companySetting" tabsrc="/company/setting"><i class="layui-icon layui-icon-set-fill"></i> 设置</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="height:100%">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="page" lay-allowClose="true" style="height:100%">
            <ul class="layui-tab-title">
            </ul>
            <div class="layui-tab-content" style="height:100%;padding:0">
            </div>
        </div>
    </div>

    <div class="layui-footer" style="z-index:1000">
        <!-- 底部固定区域 -->
        © 罗彬扬 - 底部固定区域
    </div>
</div>
<script>
    layui.use('element', function(){
        var element = layui.element;

        $("#sjmc").text(localStorage.getItem("sjmc"));

        //用于存放tabId的数组
        var tabList = new Array();

        $(".tablink").on("click", function() {
            //console.log($(this).attr("id"));
            //console.log($(this)[0].innerText);
            var tabId = $(this).attr("id");
            var tabSrc = $(this).attr("tabsrc");
            var tabTitle = $(this)[0].innerText;
            //查找现在拥有的tab里有没有相同的tabId,有返回索引，没有则返回-1
            var flag = tabList.findIndex(function(element) {
                return element == tabId;
            })
            //如果上面代码没找到tab，既返回-1,则添加tab
            if(flag < 0) {
                tabList.push(tabId);
                element.tabAdd("page", {
                    title: tabTitle,
                    content: "<div style='height:100%'><iframe src='" + tabSrc + "' width='100%' height='100%' frameborder='0'></iframe></div>",
                    id: tabId
                });
            }
            //跳转到tab
            element.tabChange('page', tabId);
        });

        //当删除tab页时，根据tab索引删除tabList数组的元素
        element.on('tabDelete(page)', function(data) {
            var index = data.index;
            //删除索引为index的元素
            tabList.splice(index, 1);
        });

        $("#logout").on("click", function() {
            localStorage.clear();
            window.location.href = "/login";
        });

        //渲染主页
        var indexId = $("#companyIndex").attr("id");
        var indexSrc = $("#companyIndex").attr("tabSrc");
        var indexTitle = $("#companyIndex")[0].innerText;
        tabList.push(indexId);
        element.tabAdd("page", {
            title: indexTitle,
            content: "<div style='height:100%'><iframe src='" + indexSrc + "' width='100%' height='100%' frameborder='0'></iframe></div>",
            id: indexId
        });
        element.tabChange('page', indexId);
    });
</script>
</body>
</html>